<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="../vue/vue.min.js"></script>
    <link href="../iview/iview.css" rel="stylesheet" />
</head>

<body>
    <div id="edit-JDCookie">
        <i-form ref="Edit-Form" id="Edit-Form" :model="form" style=" padding:25px;" :label-width="100">
            <form-item label="容器指定">
                <i-select multiple v-model="form.TQLPanelCookies">
                    <i-option v-for="t in AllPanels" :value="t.QLPanelId">{{t.QLPanelName}}</i-option>
                </i-select>
            </form-item>
            <form-item>
                <i-button type="primary" @click="handleSubmit('Edit-Form')" style="float:right">保存</i-button>
            </form-item>
        </i-form>
    </div>
    <script src="../iview/iview.min.js"></script>
    <script src="../vue/axios.min.js"></script>

    <script>
        var editCookie = new Vue({
            el: "#Edit-Form",
            data: {
                ids: [],
                AllPanels: [],
                form: {
                    TQLPanelCookies: []
                }
            },
            methods: {
                getCookieById: async function(id)  {
                    var value;
                    await axios.get('/api/JDCookie/' + id)
                        .then(function (response) {
                            value = response;
                        })
                        .catch(function (error) {
                            editCookie.$Notice.error({
                                title: '请求错误',
                                desc: error
                            })
                        });
                    return value;
                },
                queryString: function (name) {
                    var reg = new RegExp('(^|&)' + name + '=([^&]*)(&|$)', 'i');
                    var r = window.location.search.substr(1).match(reg);
                    if (r != null) {
                        return unescape(r[2]);
                    }
                    return null;
                },
                getPanels() {
                    axios.get('/api/QLPanel')
                        .then(function (response) {
                            for (var i = 0; i < response.length; i++) {
                                if (!response[i].Enable) {
                                    editCookie.AllPanels.push({
                                        QLPanelId: response[i].Id,
                                        QLPanelName: response[i].Name
                                    });
                                }
                            }
                            console.log(editCookie.AllPanels)
                        })
                        .catch(function (error) {
                            editCookie.$Notice.error({
                                title: '请求错误',
                                desc: error
                            })
                        });
                },
                handleSubmit(name) {
                    this.$refs[name].validate(async (valid) => {
                        if (valid) {
                            var panel = [];
                            for (var x = 0; x < this.form.TQLPanelCookies.length; x++) {
                                panel.push({
                                    QLPanelId: editCookie.form.TQLPanelCookies[x],
                                    Mode: 2
                                });
                            }
                            var count = 0;
                            for (var i = 0; i < editCookie.ids.length; i++) {
                                var ck = await editCookie.getCookieById(editCookie.ids[i]);
                                ck.QLPanelCookies =  panel
                                console.log(ck)
                                await axios.put('/api/JDCookie', ck)
                                    .then(function () {
                                        count ++;
                                    })
                                    .catch(function (error) {
                                        console.log(error);
                                        console.log(ck);
                                    });
                            }
                            if(count === editCookie.ids.length){
                                parent.layer.closeAll();
                            }else {
                                this.$Notice.error({
                                    title: '修改失败',
                                    desc: '修改失败，请检查控制台！'
                                });
                            }
                        } else {
                            this.$Notice.error({
                                title: '表单验证失败',
                                desc: '验证信息失败，请检查后重新提交！'
                            });
                        }
                    })
                }
            },
            mounted() {
                this.ids = this.queryString("ids").split(",");
                this.getPanels();
            }
        });
    </script>
</body>

</html>
